// color

$yellow		: #FFFF00;
$blue 		: #1E90FF;
$black 		: #000;


// color function

$background-color		: $yellow;
$base-color				: $blue;

// fonts 

$stack-helvetica		: "Helvetica Neue", Verdana, sans-serif;
$stack-verdana			: "Verdana", sans-serif; 